@import "../../../../vendors/mixins";
@import "../../../../vendors/variables";

.hero {
    
   
    .hero-content {
        //height: 824px;
       // background-image: url(https://media.architecturaldigest.com/photos/5dcde0245ff5e60008e76f52/4:3/w_5804,h_4353,c_limit/Osofsky_Oct19-571.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        padding: 20px 10px;

        @media(max-width: 922px) {
            height: 430px;
        }

        @media(max-width: 767px) {
            padding: 70px 0 70px 40px;
        }

        h1 {
            font-size: 4rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $main-color;

            @media(max-width: 922px) {
                font-size: 40px;
            }

            @media(max-width: 544px) {
                font-size: 32px;
            }
        }
    }
}